body {
  font-family: 'Charm', cursive;
}

body, html {
  height: 100%;
}

.bg-img {
  background-image: url(img/lion_lookingup.jpg);
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-block {
  position: absolute;
  bottom: 50%;
  left: 3%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 55px;
  width: 1000px;
  font-family: 'Charm', cursive;
  overflow: auto;
  position: fixed;
  width: 100%;
  height: auto;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.767);
  overflow: auto;
  position: fixed;
  top: 0;
}

.navbar a {
  float: left;
  padding: 17px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 25px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #e66d04;
}

.fade-in {
  animation: fadeIn ease 14s;
  -webkit-animation: fadeIn ease 14s;
  -moz-animation: fadeIn ease 14s;
  -o-animation: fadeIn ease 14s;
  -ms-animation: fadeIn ease 14s;
}

.sports {
  margin-top: 50px;
}

.sports_bball {
  position: relative;
  text-align: center;
  background-color: red;
  width: 40%;
  height: 400px;
}

.kobe {
  width: 100%;
  height: 85%;
}

.bball-text {
  bottom: 8px;
  left: 25px;
  font-size: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 647px) {
  div.column {
    width: 100%;
  }
  .navbar {
    width: 100%;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.756);
    overflow: auto;
    position: fixed;
    top: 0;
  }
  .navbar a {
    font-size: 15px;
  }
  .bg-img {
    background-image: url(img/lion_lookingup.jpg);
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}