body {
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  height: 100%;
}

.bg-img {
  width: fit-content;
  background-image: url("self-introduction 2/img/lion_lookingup.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: rgba(47, 47, 65, 0.756);
  overflow: auto;
  position: fixed;
  top: 0;
}

.navbar a {
  float: left;
  padding: 17px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #00ff37b1;
}

.bg-img {
  margin-top: -1080px;
}

@media screen and (max-width: 500px) {
  .navbar {
    width: 100%;
    height: 100px;
    background-color: rgba(47, 47, 65, 0.756);
    overflow: auto;
    position: fixed;
    top: 0;
  }
  .navbar a {
    font-size: 10px;
  }
}